<div class="nav">
    <div class="nav-brand">
        <a href="/">HCC Einsatzplanung</a>
    </div>

    <ul class="nav-links">
        {% if request.cookies.get('access_token') %}
            <li><a href="/api/dashboard">Dashboard</a></li>
            <li><a href="/api/availability/page">Verfügbarkeiten</a></li>
            <li><a href="#" hx-get="/auth/logout" hx-push-url="true" hx-target="body">Abmelden</a></li>
        {% else %}
            <li><a href="/login">Anmelden</a></li>
        {% endif %}
    </ul>
</div>